// CUSTOM RESET
a
  text-decoration none
  color inherit
  cursor pointer

*
  -webkit-overflow-scrolling touch
  scroll-behavior smooth
  outline none

// *:focus
:focus
  outline none

ul, li
  list-style none

label
  margin-bottom 1rem

button
  outline none