.title
  font-size 30px
  font-weight bold
  color $gris

.barre-title
  width 60px
  height 4px

.type-produit
  display flex
  justify-content space-between
  margin-top 16px
  width 50%
  background $bleuclaire
  padding 5px 15px