@font-face
   font-family Montserrat
   font-style normal
   src url(../fonts/montserrat/Montserrat-Medium.ttf)

@font-face
   font-family SortsMillGoudy
   font-style normal
   src url(../fonts/montserrat/SortsMillGoudy-Regular.ttf)

.font-montserrat
  font-family Montserrat

.font-sortsmillgoudy
  font-family SortsMillGoudy

body
  font-family Montserrat

.h-82p
  height 82%

.title
  font-size 30px
  font-weight bold
  color $gris

.barre-title
  width 60px
  height 4px

.checkbox-custom:checked + .label-custom
  color black
  font-weight bold

.element-list
  display flex
  justify-content space-between
  margin-top 4px
  width 50%
  padding 5px 0

.background-admin
  background rgb(205,220,249)
  background radial-gradient(circle, rgba(205,220,249,1) 0%, rgba(249,238,171,1) 0%, rgba(183,199,251,1) 100%)

.gradient-RoseBlue
  animation-name animation
  animation-duration 40s
  animation-timing-function ease-in-out
  animation-iteration-count infinite
  background rgb(205,220,249)

@keyframes animation {
  0%     {
    background: linear-gradient(185deg, rgba(210,200,228,1) 37%, rgba(154,187,252,1) 63%, rgba(154,187,252,1) 87%, rgba(154,187,252,1) 100%);
  }
  50.0%  {
    background: linear-gradient(180deg, rgba(187,170,193,1) 18%, rgba(246,236,206,1) 63%, rgba(246,236,206,1) 87%, rgba(246,236,206,1) 100%);
  }
  100.0%  {
    background: linear-gradient(180deg, rgba(36,37,41,1) 18%, rgba(45,47,98,1) 63%, rgba(45,47,98,1) 87%, rgba(45,47,98,1) 100%);
  }
}

.logo
  fill #727380
  width 142px

.bg-gris
  background #f0f0fa

.max-width-1668
  max-width 1668px

.card
  opacity 0.94
  &-discover
    transition all 0.75s
    transform translateY(-100%)

.card:hover
  .card-discover
    transform translateY(0)

// CLOUDS
.active-cloud
  &.cloud1
    animation 20s linear 0s infinite alternate move_cloud1
  &.cloud2
    animation 20s linear 0s infinite alternate move_cloud2
  &.cloud-card
    animation 8s linear 0s infinite alternate move_cloud1

.cloud1
  top 3%
  width 55%
  transition all 2.5s infiny

.cloud2
  bottom 3%
  right -20%
  width 55%
  transition all 2.5s
  z-index -1

.cloud-card
  top 18% !important
  width 155% !important
  max-width 155%
  transition all 2.5s infiny
// Fin Cloud

@keyframes move_cloud1 {
  from { margin-left: -16%; }
  to { margin-left: 0%; }
}

@keyframes move_cloud2 {
  from { margin-right: -2%; }
  to { margin-right: 10%; }
}

.lens {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.4) 100%);
}
.sky {
  z-index -2
  position: fixed;
  height: 135vh;
  width: 100%;
  top: 0;
  left: 0;
  animation: firmament-1 50s linear infinite;
}
.sky2 {
  z-index -2
  position: fixed;
  height: 135vh;
  width: 100%;
  top: 0;
  left: 0;
  animation: firmament-2 50s linear infinite;
}

.sky-card {
  position: relative;
  width: 100%;
  animation: firmament-1 50s linear infinite;
}
.sky2-card {
  position: absolute;
  top: 0;
  width: 100%;
  animation: firmament-2 50s linear infinite;
}
@keyframes firmament-1 {
  100% {
    background: linear-gradient(to bottom, #040911 2%, #070e1b 31%, #0b182b 56%, #13253c 75%, #1c3249 89%, #243a4c 99%);
  }
  75% {
    background: linear-gradient(to bottom, #695371 2%, #9b6368 31%, #bc7161 56%, #ab5f53 75%, #944d47 89%, #8a4541 99%);
  }
  50% {
    background: linear-gradient(to bottom, #50a7fd 2%, #5cb2fe 31%, #6bbdfe 56%, #79c8fe 75%, #85d1fe 89%, #8dd6fe 99%);
  }
  25% {
    background: linear-gradient(to bottom, #012254 2%, #02387b 31%, #1e59a6 56%, #6379bb 75%, #7b537f 89%, #253668 99%);
  }
  0% {
    background: linear-gradient(to bottom, #040911 2%, #070e1b 31%, #0b182b 56%, #13253c 75%, #1c3249 89%, #243a4c 99%);
  }
}
@keyframes firmament-2 {
  100%{
    background: linear-gradient(to bottom, #010104 2%, #0a0a12 31%, #1b1a1e 56%, #302822 75%, #4e2c0e 89%, #5e1801 99%);
    opacity: 0;
  }
  87.5%{
    background: linear-gradient(to bottom, #010104 2%, #0a0a12 31%, #1b1a1e 56%, #302822 75%, #4e2c0e 89%, #5e1801 99%);
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  62.5%{
    background: linear-gradient(to bottom, #898989 2%, #a3948b 31%, #997c71 56%, #7b5d5b 75%, #5a464e 89%, #403743 99%);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  37.5%{
    background: linear-gradient(to bottom, #2b4850 2%, #4b6f7e 31%, #709da4 56%, #aebd9a 75%, #c8904d 89%, #4a3a30 99%);
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  12.5%{
    background: linear-gradient(to bottom, #1c3a62 2%, #1e3e68 31%, #214470 56%, #244a7b 75%, #285184 89%, #2b558b 99%);
    opacity: 1;
  }
  0% {
    background: linear-gradient(to bottom, #1c3a62 2%, #1e3e68 31%, #214470 56%, #244a7b 75%, #285184 89%, #2b558b 99%);
    opacity: 0;
  }
}
.expanded {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.vignette {
  background: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.4) 100%);
}
.one {
  background: linear-gradient(to bottom, #040911 2%, #070e1b 31%, #0b182b 56%, #13253c 75%, #1c3249 89%, #243a4c 99%);
}
.two {
  background: linear-gradient(to bottom, #010104 2%, #0a0a12 31%, #1b1a1e 56%, #302822 75%, #4e2c0e 89%, #5e1801 99%);
}
.three {
  background: linear-gradient(to bottom, #695371 2%, #9b6368 31%, #bc7161 56%, #ab5f53 75%, #944d47 89%, #8a4541 99%);
}
.four {
  background: linear-gradient(to bottom, #898989 2%, #a3948b 31%, #997c71 56%, #7b5d5b 75%, #5a464e 89%, #403743 99%);
}
.five {
  background: linear-gradient(to bottom, #50a7fd 2%, #5cb2fe 31%, #6bbdfe 56%, #79c8fe 75%, #85d1fe 89%, #8dd6fe 99%);
}
.six {
  background: linear-gradient(to bottom, #2b4850 2%, #4b6f7e 31%, #709da4 56%, #aebd9a 75%, #c8904d 89%, #4a3a30 99%);
}
.seven {
  background: linear-gradient(to bottom, #012254 2%, #02387b 31%, #1e59a6 56%, #6379bb 75%, #7b537f 89%, #253668 99%);
}
.eight {
  background: linear-gradient(to bottom, #1c3a62 2%, #1e3e68 31%, #214470 56%, #244a7b 75%, #285184 89%, #2b558b 99%);
}

.carousel-cell {
  width: 100%;
  height: 350px;
  margin-right: 10px;
}