.title
  font-size 30px
  font-weight bold
  color $gris

.barre-title
  width 60px
  height 4px

.element-list
  display flex
  justify-content space-between
  margin-top 4px
  width 50%
  padding 5px 0

.background-admin
  background rgb(205,220,249)
  background radial-gradient(circle, rgba(205,220,249,1) 0%, rgba(249,238,171,1) 0%, rgba(183,199,251,1) 100%)

.gradient-RoseBlue
  background rgb(205,220,249)
  background radial-gradient(circle, rgba(205,220,249,1) 0%, rgba(224,204,226,1) 0%, rgba(183,199,251,1) 100%)

.cloud1
  top 0
  width 40%
  left -10%

.cloud2
  top 0
  width 40%
  right -25%

.logo
  fill #727380
  width 142px

.bg-gris
  background #f0f0fa

.max-width-1668
  max-width 1668px

.card
  min-height 741px
