// colors
$colors = {
  white: #FFF,
  black: #000
}
// fonts
$fw-thin = 100
$fw-x-light = 200
$fw-light = 300
$fw-regular = 400
$fw-medium = 500
$fw-semi-bold = 600
$fw-bold = 700
$fw-x-bold = 800
$fw-black = 900
$weight = {
  thin: $fw-thin,
  x-light: $fw-x-light,
  light: $fw-light,
  regular: $fw-regular,
  medium: $fw-medium,
  semi-bold: $fw-semi-bold,
  bold: $fw-bold,
  x-bold: $fw-x-bold,
  black: $fw-black
}
// medias queries (by bootstrap)
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
// Extra small devices (portrait phones, less than 576px)
$xs = '(max-width: 575px)'
// Small devices (landscape phones, 576px and down)
$sm-down = '(max-width: 767px)'
// Small devices (landscape phones, 576px and 767px)
$sm = '(min-width: 576px) and (max-width: 767px)'
// Small devices (landscape phones, 576px and up)
$sm-up = '(min-width: 576px)'
// Medium devices (tablets, 768px and down)
$md-down = '(max-width: 991px)'
// Medium devices (tablets, 768px and 991px)
$md = '(min-width: 768px) and (max-width: 991px)'
// Medium devices (tablets, 768px and up)
$md-up = '(min-width: 768px)'
// Large devices (desktops, 1199px and down)
$lg-down = '(max-width: 1199px)'
// Large devices (desktops, 992px and 1199px)
$lg = '(min-width: 992px) and (max-width: 1199px)'
// Large devices (desktops, 992px and up)
$lg-up = '(min-width: 992px)'
// Extra large devices (large desktops, 1200px and up)
$xl = '(min-width: 1200px)'
$xl-down = '(max-width: 1199px)'
$xxl = '(min-width: 1920px)'
